.textCenter{
    text-align: center;
}

.invest{
        width : 60%;
        margin : auto;
        padding: 40px;
        text-align: center;

}

.invest ion-input{
    font-size: 3em;
    text-align: center;
}

.invest ion-label{
    font-size: 3em;
    text-align: center;
}

.invest ion-item{
    padding: 20px;
}
.invest .dollar{
    font-size: 3em;
}