<ion-app>
  <ion-router-outlet></ion-router-outlet>
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-title>Footer - No Border</ion-title>
    </ion-toolbar>
  </ion-footer>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Powered by Cryptomolow 
        <a href="https://twitter.com/samolower" target="_blank"><ion-icon src="assets/twitter-logo.svg"></ion-icon></a>
        <a href="https://www.instagram.com/cryptomolow/" target="_blank"><ion-icon src="assets/instagram-logo.svg"></ion-icon></a>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>